<h1 class='text-center'>New Seller Sign Up</h1>
<form class='w-25 mx-auto' stye='margin-top:100px'>
    <div class="form-group mt-5">
        <label for="login_username">User Name<span class='text-danger'>*</span></label>
        <input type="text" class="form-control" id="login_username" aria-describedby="username" placeholder="Enter User Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password<span class='text-danger'>*</span></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="InputconfirmPassword1">confirmPassword<span class='text-danger'>*</span></label>
        <input type="confirmPassword" class="form-control" id="InputconfirmPassword1" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <label for="login_email">Email<span class='text-danger'>*</span></label>
        <input type="mail" class="form-control" id="login_email" aria-describedby="email" placeholder="Enter You Email">
    </div>

    <div class="form-group">
        <label for="login_mobileNumber">Mobile Number<span class='text-danger'>*</span></label>
        <input type="mail" class="form-control" id="login_mobileNumber" aria-describedby="mobileNumber" placeholder="Enter You Mobile Number">
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>

</form>