<a href='/buyerhome' class='ml-3'>&lt;&lt;  Buyer Home</a>

<div class='row mx-3'>
    <div class='col-5'>
<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1587909735017&di=ab90f54b73b1bcf5935c5e755e3b8abd&imgtype=0&src=http%3A%2F%2Fimage.tianjimedia.com%2FuploadImages%2F2018%2F094%2F26%2F8K6E4AWNFJ7F_3_600.jpg" class="mx-3 my-3 w-100">
</div>

<div class='col-7'>
        <h2 class=''>iPhone 11</h2>
    <div>Price: $ 300</div>
<br>
    <pre>
Triple-camera system (Ultra Wide, Wide, Telephoto)
Up to 20 hours of video playback1
Water resistant to a depth of 4 meters for up to 30 minutes2
5.8” or 6.5” Super Retina XDR display3
    </pre>
    <button type="submit" class="btn btn-primary">Add to Card</button>
    
</div>